@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ReForm.Core.Interfaces
@using ReForm.Infrastructure.Services
@inject IUserService userService;

@{
    var user = await userService.GetByEmailAsync(User?.Identity?.Name);
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(ViewData["ActiveTab"]?.ToString() == "Edit" ? "active" : "")"
               asp-page="/TemplateSetup/Edit" asp-route-id="@Model.Template.Id">Edit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewData["ActiveTab"]?.ToString() == "Submissions" ? "active" : "")"
               asp-page="/TemplateSetup/Submissions" asp-route-id="@Model.Template.Id">Submissions</a>
        </li>
    </ul>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
