@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ReForm.Core.Interfaces
@using ReForm.Infrastructure.Services
@inject IUserService userService;

@{
    var user = await userService.GetByEmailAsync(User?.Identity?.Name);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ReForm</title>
    <script type="importmap"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link href="~/lib/sweetalert2/dist/css/sweetalert2.min.css" rel="stylesheet">
    <script src="~/lib/sweetalert2/dist/js/sweetalert2.all.js"></script>
    <script src="~/lib/micromodal/dist/micromodal.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ReForm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")"
                           asp-area="" asp-page="/Index">My Templates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewContext.RouteData.Values["page"]?.ToString() == "/Respond/RespondIndex" ? "active" : "")"
                           asp-area="" asp-page="/Respond/RespondIndex">Awaiting</a>
                    </li>
                    @* Show Admin Panel only if the user is an Admin *@
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark @(ViewContext.RouteData.Values["page"]?.ToString() == "/Admin/Users/Index" ? "active" : "")"
                               asp-area="" asp-page="/Admin/Users/Index">Admin Panel</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark @(ViewContext.RouteData.Values["page"]?.ToString() == "/Account/Logout" ? "active" : "")"
                           asp-area="" asp-page="/Account/Logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <h3 class="display-7">Welcome, @user?.Name</h3>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>